body {
  background: lightblue;
}

.circle {
  height: 100px;
  width: 100px;
  background: pink;
  border-radius: 50px;
  position: absolute;
  top: 50px;
  left: 10px;
  animation-name: move;
  animation-duration: 5s;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
